h1,h2 {
    color:blue
}

p {
    text-align: center;
}



.header {
    background-color: rgb(179, 233, 179);
    display:flex;
    justify-content:space-between ;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons {
    
    display: flex;
    justify-content: flex-end;
}